
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l3">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge cyan lighten-1">Processed</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Total Messages</span>
                        <span class="stats-counter"><span class="counter">11200</span><small>processed</small></span>
                    </div>
                    <div id="sparkline-bar"></div>
                </div>
            </div>

            <div class="col s12 m12 l3">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge red lighten-1">Aborted</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Total Messages</span>
                        <span class="stats-counter"><span class="counter">0</span><small>aborted</small></span>
                    </div>
                    <div id="sparkline-line"></div>
                </div>
            </div>

            <div class="col s12 m12 l3">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge red lighten-1">N'ack</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Total Messages</span>
                        <span class="stats-counter"><span class="counter">0</span><small>n'acked</small></span>
                    </div>
                    <div id="sparkline-line"></div>
                </div>
            </div>

            <div class="col s12 m12 l3">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge green lighten-1">Notifications</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Total Messages</span>
                        <span class="stats-counter"><span class="counter">1000</span><small>notices sent</small></span>
                    </div>
                    <div id="sparkline-line"></div>
                </div>
            </div>

            <!--
            <div class="col s12 m12 l3">
                <div class="card stats-card">
                    <div class="card-content">
                        <span class="card-title">Reports</span>
                        <span class="stats-counter"><span class="counter">23230</span><small>Last
                                week</small></span>
                        <div class="percent-info green-text">8% <i class="material-icons">trending_up</i></div>
                    </div>
                    <div class="progress stats-card-progress">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l8">
                <div class="card visitors-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li><a href="javascript:void(0)" class="card-refresh"><i
                                            class="material-icons">refresh</i></a></li>
                            </ul>
                        </div>
                        <span class="card-title">Messages<span class="secondary-title">Showing stats of messages processed</span></span>
                        <div id="flotchart1"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card server-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li class="red-text"><span class="badge blue-grey lighten-3">optimal</span></li>
                            </ul>
                        </div>
                        <span class="card-title">Server Load</span>
                        <div class="server-load row">
                            <div class="server-stat col s4">
                                <p>167GB</p>
                                <span>Usage</span>
                            </div>
                            <div class="server-stat col s4">
                                <p>320GB</p>
                                <span>Space</span>
                            </div>
                            <div class="server-stat col s4">
                                <p>57.4%</p>
                                <span>CPU</span>
                            </div>
                        </div>
                        <div class="stats-info">
                            <ul>
                                <li>PDF Service<div class="percent-info green-text right">running <i class="material-icons">fiber_manual_record</i></div></li>
                                <li>Image Service<div class="percent-info green-text right">running <i class="material-icons">fiber_manual_record</i></div></li>
                                <li>E-Mail Service<div class="percent-info green-text right">running <i class="material-icons">fiber_manual_record</i></div></li>
                                <li>SMS Service<div class="percent-info grey-text right">disabled <i class="material-icons">fiber_manual_record</i></div></li>
                                <li>API Service<div class="percent-info green-text right">running <i class="material-icons">fiber_manual_record</i></div></li>
                                <li>MT Conversion Service<div class="percent-info green-text right">running <i class="material-icons">fiber_manual_record</i></div></li>
                            </ul>
                        </div>
                        <!--<div id="flotchart2"></div> -->
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card invoices-card">
                    <div class="card-content">
                        <span class="card-title">Message Summary</span>
                        <table class="responsive-table bordered">
                            <thead>
                                <tr>
                                    <th data-field="id">TOTAL</th>
                                    <th data-field="id">INFLOWS</th>
                                    <th data-field="number">OUTFLOWS</th>
                                    <th data-field="company">LOCAL</th>
                                    <th data-field="date">FOREIGN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2,300</td>
                                    <td>2,300</td>
                                    <td>4,000</td>
                                    <td>3,000</td>
                                    <td>1,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        -->

    </div>
    