<div class="sidebar-profile">
  <div class="sidebar-profile-image">
    <img src="../../images/profile-image.png" class="circle" alt="" />
  </div>
  <div class="sidebar-profile-info">
    <a href="javascript:void(0);" class="account-settings-link">
      <p>{{{userDetail.user}}}</p>
      <span>{{userDetail.email}}<i
          class="material-icons right"
        >arrow_drop_down</i></span>
    </a>
  </div>
</div>