<div class="row">
  <div class="col s12">
    <div class="page-title">SUB-MENU SETTINGS</div>
  </div>

  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
              <li class="tab col s3"><a href="#test1" class="">Add a Sub-Menu</a></li>
            </ul>
          </div>

          <div id="test1" class="col s12">
            <div class="row"></div>

            <form id="example-form">

              <div class="card">
                <div class="card-content">
                  <div class="row">

                    <div class="col m6">
                      <div class="row"></div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input
                            value=""
                            id="menu_title"
                            type="text"
                            class="validate"
                            name="menu_title"
                            placeholder="Enter Menu Title"
                          />
                          <label for="menu_title">Menu Title</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <input
                            value=""
                            id="menu_url"
                            type="text"
                            class="validate"
                            name="menu_url"
                            placeholder="Enter Menu Url"
                          />
                          <label for="menu_url">Menu Url</label>
                        </div>
                      </div>
                    </div>
                    <div class="col m6">
                      <div class="row"></div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input
                            value=""
                            id="menu_icon"
                            type="text"
                            class="validate"
                            name="menu_icon"
                            placeholder="Enter Icon Text"
                          />
                          <label for="menu_icon">Menu Icon</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col m12">
                          
                          <select id="parent_menu" class="required validate">
                            <option value="" disabled selected>Choose  a parent menu</option>
                            <option value="id1">Menu one
                            </option>
                            <option value="id2">Menu two
                            </option>
                          </select>
                        </div>
                      </div>
                      

                  </div>
                </div>
              </div>
              

              <div class="row">
                <div class="col s5"></div>
                <button
                  class="waves-effect waves-light btn"
                  type="button"
                  name="add_sub_menu"
                  id="add_sub_menu"
                >Create Sub-Menu</button>
              </div>

              <div class="row"></div>
              <div class="row"></div>

            </form>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>