<div id="msgdetails" class="modal modal-fixed-footer" style="width: 80%;">
  <div class="modal-content" style="width: 80%;"></div>

  <div class="row">

    <div class="col l5 m5 s5">

      <div class="row"></div>
      <div class="row"></div>
      <div class="col s12">
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
          <li class="tab col s3"><a href="#test1" id="msenderRef">REF: </a></li>
        </ul>
      </div>

      <div class="row">
        <div class="col l12 m12 s12">

          <ul class="collection with-header">
            <li class="collection-item">Sender:
              <label class="green-text" id="SenderX"></label></li>
            <li class="collection-item">Reciever:
              <label class="green-text" id="RecieverX"></label></li>
            <li class="collection-item">Reference:
              <label class="green-text" id="ReferenceX"></label></li>
            <li class="collection-item">Date:
              <label class="green-text" id="DateX"></label></li>
            <li class="collection-item">Time:
              <label class="green-text" id="TimeX"></label></li>
            <li class="collection-item">Message Type:
              <label class="green-text" id="MtypeX"></label></li>
            <li class="collection-item">In/Out:
              <label class="green-text" id="inoutX"></label></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col l7 m7 s7">

      <div class="row"></div>
      <div class="row"></div>
      <div class="col s12">
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
          <li class="tab col s3"><a href="#" class="">SWIFT MESSAGE</a></li>
        </ul>
      </div>

      <div class="row">

        <div class="col l12 m12 s12">
          <ul class="collection with-header">
            <li
              class="collection-item"
              id="swiftnotice"
              style="white-space: pre-wrap; height: 300px; overflow: auto; font-size: 12px;"
            ></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <div class="col s5"></div>
    <a
      class="modal-action modal-close waves-effect waves-green btn-flat"
      id="frmclose{{@key}}"
    >Close</a>
    <div class="col s5"></div>
    <a
      id="sendpdf"
      name="sendpdf"
      class="modal-action waves-effect waves-green btn-flat disabled"
    >E-Mail PDF</a>
    <div class="col s5"></div>
    <a
      id="getimage"
      name="getimage"
      class="modal-action waves-effect waves-green btn-flat"
    >Get Image</a>
    <div class="col s5"></div>
    <a
      id="getpdf"
      name="getpdf"
      class="modal-action waves-effect waves-green btn-flat"
    >Get PDF</a>

  </div>
</div>