<div class="row">
  <div class="col s12">
    <div class="page-title">New User</div>
  </div>

  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
              <li class="tab col s3"><a href="#test1" class="">Add New User</a></li>
            </ul>
          </div>

          <div id="test1" class="col s12">
            <div class="row"></div>

            <form>

              <div class="row"></div>
              <div class="row">
                <div class="col m3 s3">

                  <div class="row">
                    <img
                      src="../../images/alertprofile.png"
                      class="m-b-lg"
                      alt=""
                      width="80%"
                    />

                    {{! <div class="switch">
                        <label>
                          <input type="checkbox" />
                          <span class="lever"></span>
                          Enable AD/LDAP
                        </label>
                      </div> }}

                  </div>
                </div>
                <div class="col s5">
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="fullname">Full Name:</label>
                      <input
                        id="fullname"
                        placeholder="Enter Full Name"
                        name="fullname"
                        value=""
                        type="text"
                        class="validate"
                      />
                    </div>
                    <div class="input-field col s12">
                      <label for="username">Username:</label>
                      <input
                        id="username"
                        name="username"
                        type="text"
                        class="validate"
                        value=""
                        placeholder="Enter Username"
                      />
                    </div>
                    <div class="input-field col s12">
                      <select id="role">
                        <option value="" disabled selected>Choose a role</option>
                        {{#each list}}
                          <option value={{id}}>{{title}}
                          </option>
                        {{/each}}
                      </select>
                      {{! <label for="role">Select User Role</label> }}
                    </div>
                  </div>
                </div>
                <div class="col s4">

                  <div class="row">
                    <div class="input-field col s12">
                      <label for="phone">Phone Number:</label>
                      <input
                        id="phone"
                        value=""
                        name="phone"
                        type="number"
                        class="validate"
                        placeholder="Enter Phone Number"
                      />
                    </div>
                    <div class="input-field col s12">
                      <label for="email">Email:</label>
                      <input
                        value=""
                        id="email"
                        name="email"
                        type="email"
                        class="validate"
                        placeholder="Enter Email"
                      />
                    </div>
                  </div>

                  {{! <div class="row"> }}

                  {{! </div> }}
                </div>
              </div>
              <div class="row">
                <div class="col s5"></div>
                <button
                  class="waves-effect waves-light btn"
                  type="button"
                  name="add_user"
                  id="add_user"
                >Save Details</button>
              </div>

            </form>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>