                    <div class="col s12">
                        <div class="page-title">{{title}}</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content" >
                                <div class="col s12">
                                    <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
                                        <li class="tab col s3"><a href="#test1" class="">Search For Messages</a></li>
                                    </ul>
                                </div>
                                <box height="50%" style="height: 50%;">     
                                    
                                    
                
                                    <div class="row"></div>

                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>


                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>

                                    <div class="row center-align">


                                        <div class="input-field col s2 center-align"></div>

                                    <form method="GET" action="searchresult">

                                        <div class="col s4">
                                            <label>Select Message Type</label>
                                            <select class="browser-default">
                                                <option value="" disabled selected>Choose Message Type</option>
                                                <option value="1">MT 103</option>
                                                <option value="2">MT 199</option>
                                                <option value="3">MT 240</option>
                                            </select>
                                        </div>

                                            <div class="input-field col s8">
                                                <input id="searchmsg" type="text" placeholder="Search MT, FT, Account Number" autocomplete="off" style="color: black;">
                                                <a class="waves-effect waves-light btn" onclick="document.forms[1].submit();"><i class="material-icons left">search</i>Find Message</a>
                                            </div>

                                    </form>

                                    </div>
                                                                        
                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>

                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>

                                </box>
                            </div>
                    </div>
            </div>


